@mixin _primary_base {
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: .375rem .75rem;
  background: $primary;
  color: $primary-contrast;
  
  & + & {
    margin-right: .5rem;
  }
  
  &:hover, &:focus, &:active, &.active {
    outline: 0;
    box-shadow: none;
    background: $primary-shade;
    color: $primary-contrast;
    text-decoration: none;
  }
  
  &:disabled, &.disabled {
    opacity: 1;
    background: rgba($primary, .5);
    color: rgba($primary-contrast, .5);
    box-shadow: none;
  }
}

@mixin _outline_primary_base {
  display: inline-block;
  border-radius: 3px;
  padding: .375rem .75rem;
  background: none;
  border: 1px solid $primary;
  color: $primary;

  & + & {
    margin-right: .5rem;
  }
  
  &:hover, &:focus, &:active, &.active {
    outline: 0;
    box-shadow: none;
    background: none;
    border: 1px solid $primary-shade !important;
    color: $primary-shade;
    text-decoration: none;
  }

  &:disabled, &.disabled {
    opacity: 1;
    border: 1px solid rgba($primary, .5);
    color: rgba($primary, .5);
    box-shadow: none;
    background: none;
  }
}

.button-primary {
  @include _primary_base();
  
  // sizes
  &-sm {
    @include _primary_base();
    padding: .25rem .5rem;
    font-size: 11px;
  }

  &-lg {
    @include _primary_base();
    padding: .5rem 1.5rem;
  }
}

  
// colors
.button-dark {
  @include _primary_base();
  background: $dark;
  color: $light;
  
  &:hover, &:focus, &:active, &.active {
    background: $dark-shade;
  }
}

.button-danger {
  @include _primary_base();
  background: $danger;
  color: $light;
  
  &:hover, &:focus, &:active, &.active {
    background: $danger-shade;
  }
}

.button-outline-primary {
  @include _outline_primary_base();
  
  // sizes
  &-sm {
    @include _outline_primary_base();
    padding: .25rem .5rem;
    font-size: 11px;
  }  
  &-lg {
    @include _outline_primary_base();
    padding: .5rem 1.5rem;
  }
}
