.table-striped {
  width: 100%;
  text-align: left;
  background: $light;
  color: $light-contrast;
  border: 1px solid $medium;

  tr {
    margin: 0;
    padding: 0;
    background: $light !important;
  }
  
  th {
    font-weight: 700;
    padding: .5rem;
  }

  td {
    padding: .5rem;
  }

  thead th {
    border: none;
  }

  tbody td,
  tfoot td {
    border: none;
    border-top: 1px solid $medium;
  }
}
