@import '../scss/skin';

$icons: (
  // general
  dashboard-mola: ('direct', 'http://localhost:4200/assets/icons/mola.svg'),
  dashboard-menu: ('bootstrap', 'list'),
  dashboard-home: ('bootstrap', 'house-fill'),
  dashboard-comment: ('material', 'comment'),
  dashboard-record: ('material', 'code-braces'),
  dashboard-array: ('material', 'code-brackets'),
  dashboard-type-image: ('material', 'file-image'),
  dashboard-type-audio: ('material', 'file-music'),
  dashboard-type-video: ('material', 'file-video'),
  dashboard-type-document: ('material', 'file-document'),
  dashboard-type-archive: ('material', 'zip-box'),
  dashboard-type-unknown: ('material', 'file-question'),
  // parts
  dashboard-front: ('material', 'gauge'),
  dashboard-media: ('material', 'image'),
  dashboard-user: ('material', 'account'),
  dashboard-category: ('material', 'shape'),
  dashboard-tag: ('material', 'tag-multiple'),
  dashboard-page: ('material', 'view-carousel'),
  dashboard-post: ('material', 'text-box'),
);

@include register_icons($icons);