@import '@unistylus/core/scss/mixins';

$dashboard_icons: '';

$icons: (
  dashboard-menu-light: '#{$bootstrap_icons}/dark/list.svg',
  dashboard-mola-light: '#{$bootstrap_icons}/dark/suit-heart-fill.svg',
  dashboard-home-light: '#{$bootstrap_icons}/dark/house-fill.svg',
  dashboard-categories: '#{$bootstrap_icons}/dark/collection-fill.svg',
  dashboard-tags: '#{$bootstrap_icons}/dark/tags-fill.svg',
  dashboard-pages: '#{$bootstrap_icons}/dark/file-earmark-fill.svg',
  dashboard-posts: '#{$bootstrap_icons}/dark/file-earmark-text-fill.svg',
);

@include register_app_icons(
  (
    default: $icons,
  )
);