@import '@unistylus/core/scss/mixins';
@import '../scss/skin';

$icons: (
  // general
  dashboard-mola: '#{$dashboard_icons}/mola.svg',
  dashboard-menu: '#{$dashboard_icons}/menu.svg',
  dashboard-home: '#{$dashboard_icons}/home.svg',
  // parts
  dashboard-front: '#{$dashboard_icons}/front.svg',
  dashboard-category: '#{$dashboard_icons}/category.svg',
  dashboard-tag: '#{$dashboard_icons}/tag.svg',
  dashboard-page: '#{$dashboard_icons}/page.svg',
  dashboard-post: '#{$dashboard_icons}/post.svg',
);

@include register_app_icons((default: $icons));