h1.x, h2.x, h3.x, h4.x, h5.x, h6.x {
  font-family: var(--app-font-head);
  font-weight: 500;
}

a.x {
  color: $primary_background;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $primary_emphasis;
    text-decoration: underline;
    border: none;
    background: none;
    outline: 0;
  }

  &.muted {
    color: $dark_medium;

    &:hover, &:focus, &:active {
      color: $dark_text;
      text-decoration: none;
    }
  }
}