<div class="app-login" *ngIf="authService">

  <div class="message margin-bottom" *ngIf="message">
    <div class="alert-danger" [innerHtml]="message"></div>
  </div>

  <div class="form" *ngIf="authService.methodAllowedForEmailPassword">

    <form
      [formGroup]="loginFormGroup"
      (ngSubmit)="signIn()"
      #loginForm="ngForm"
    >
  
      <label class="group margin-bottom">
        <span class="form-label">Email:</span>
        <input class="form-control" type="email" formControlName="email">
      </label>
  
      <label class="group margin-bottom">
        <span class="form-label">Password:</span>
        <input class="form-control" type="password" formControlName="password">
      </label>
  
      <div class="action">
        <button class="button-primary" type="submit"
          [disabled]="!loginForm.form.valid || lockdown">Login</button>
      </div>
  
    </form>

    <div class="foot">
      <a class="button-link" href="/register" (click)="goRegister.emit(); false;">Register?</a>
    </div>

  </div>

</div>
