<div class="host">

  <section class="auth">

    <div><h2>Demo</h2></div>

    <div class="login" *ngIf="!authService.authenticated; else account">

      <app-login (goRegister)="navService.navigate(['register'])"></app-login>

      <hr>
      <h3>Different roles</h3>
      <p>Use these accounts to see different roles, all password are the same = <strong>1234567890</strong>:</p>
      <ul>
        <li>sadmin@lamnhan.com</li>
        <li>admin@lamnhan.com</li>
        <li>editor@lamnhan.com</li>
        <li>author@lamnhan.com</li>
        <li>contributor@lamnhan.com</li>
        <li>subscriber@lamnhan.com</li>
      </ul>

    </div>

    <ng-template #account>
      <div class="account" *ngIf="userService.currentUser">
        <div>Account: <strong>{{ userService?.data?.email }}</strong></div>
        <div><button class="button-primary" (click)="gotoDashboard()">Go to Dashboard</button></div>
      </div>
      <hr>
      <button class="button" (click)="signOut()">Logout</button>
    </ng-template>

  </section>

</div>