$icons: '/assets/icons';

$font_head: 'Georgia', 'Times New Roman', serif;
$font_body: 'Segoe UI', 'Ubuntu', sans-serif;

$primary_background: #135e96;
$primary_emphasis: #0a4b78;
$primary_text: #ffffff;
$primary_medium: #a7aaad;
$primary_active: #72aee6;

$light_background: #ffffff;
$light_emphasis: #f0f0f1;
$light_text: #1d2327;
$light_medium: #646970;
$light_active: #72aee6;

$dark_background: #1d2327;
$dark_emphasis: #2c3338;
$dark_text: #ffffff;
$dark_medium: #a7aaad;
$dark_active: #72aee6;
