$icons: '/assets/icons';

$font_head: 'Georgia', 'Times New Roman', serif;
$font_body: 'Segoe UI', 'Ubuntu', sans-serif;

$primary_background: #135e96;
$primary_emphasis: #0a4b78;
$primary_text: #ffffff;
$primary_medium: #8c8f94;
$primary_active: #2271b1;

$light_background: #ffffff;
$light_emphasis: #f0f0f1;
$light_text: #1d2327;
$light_medium: #646970;
$light_active: #72aee6;

$dark_background: #1d2327;
$dark_emphasis: #2c3338;
$dark_text: #ffffff;
$dark_medium: #a7aaad;
$dark_active: #72aee6;

// move this to unistylus
@mixin icon_variant($path) {
  background-size: 100% !important;
  background: url('#{$icons}/#{$path}.svg');
}

@mixin icon_hover($path) {
  &:hover, &:focus {
    .icon {
      @include icon_variant($path);
    }
  }
}

@mixin icon_active($path) {
  &:active, &.active {
    .icon {
      @include icon_variant($path);
    }
  }
}

@mixin icon_hover_active($path) {
  &:hover, &:focus, &:active, &.active {
    .icon {
      @include icon_variant($path);
    }
  }
}